@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply flex flex-col font-roboto text-base bg-lightGray;
    }

    main {
        @apply min-h-[calc(100vh-27rem)] pt-16 pb-5 scroll-smooth md:min-h-[calc(100vh-13rem)] md:pt-28;
    }

    footer {
        @apply w-full font-courier text-2xl;
    }
}

@layer components {
    .container-bigger{
        @apply max-w-[1536px] m-auto
    }

    .container-small{
        @apply px-3 md:p-6
    }

    .form-label{
        @apply font-courier font-bold text-xl
    }

    .input-generic{
        @apply w-full px-3 py-2 rounded-md border-2 text-slate-500 focus:outline-none focus:border-orange;
    }

    .label-input{
        @apply flex flex-col w-full
    }

    .project-form{
        @apply flex flex-col m-auto p-6 lg:w-6/12
    }

    .project-form input, select{
        @apply input-generic
    }
    
    .errors{
        @apply text-orange
    }
}